<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>批量修改文件名.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCF4F6BA1DF7F4F80063236B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCF4F6D01DF7F4F80063236B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCF4F6DB1DF7F4F90063236B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
